{% comment %}
ATB-SCHEMA{
  "name": "Newsletter",
  "class": "mount-newsletter",
  "id": "newsletter",
  "banner": "",
  "icon": "",
  "tags": "",
  "description": "",
  "settings": [
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID",
      "info": "Enter a unique ID with only letters and numbers, no spaces",
      "default": ""
    },
    {
      "type": "text",
      "id": "atb_title",
      "label": "Heading",
      "default": "Sign up for our newsletter",
      "info": ""
    },
    {
      "type": "wysiwyg",
      "id": "atb_text",
      "label": "Subheading",
      "default": "<p><em>When you sign up for our newsletter, you will receive news regarding products per e-mail. You can unsubscribe anytime. We're cool like that. Read our <a href='#'>privacy policy</a>.</em></p>",
      "info": ""
    },
    {
      "type": "header",
      "content": "Colors",
      "info": ""
    },
    {
      "type": "color",
      "id": "atb_color_bg",
      "label": "Custom background color",
      "default": "rgba(0,0,0,0)",
      "info": ""
    },
    {
      "type": "color",
      "id": "atb_color_text",
      "label": "Custom text color",
      "default": "rgba(0,0,0,0)",
      "info": ""
    }
  ],
  "warnings": []
}ATB-SCHEMA
{% endcomment %}


{%- include 'atb-render' field:'section_id' -%}
{%- assign section_id = val -%}
{%- include 'atb-render' field:'atb_title' -%}
{%- assign atb_title = val -%}
{%- include 'atb-render' field:'atb_text' -%}
{%- assign atb_text = val -%}
{%- include 'atb-render' field:'atb_color_bg' -%}
{%- assign atb_color_bg = val -%}
{%- include 'atb-render' field:'atb_color_text' -%}
{%- assign atb_color_text = val -%}
{%- assign no_image = images['no_image_comparison'] -%}

<section id="shopify-section-{{section_id}}" class="shopify-section mount-newsletter">
<div class="content-section gutter--on newsletter {% if atb_color_bg != 'rgba(0,0,0,0)' %} parent-has-inner-padding {% endif %}">

  {% unless atb_title == blank %}
    <h3 class="newsletter__title h1">{{ atb_title | escape }}</h3>
  {% endunless %}

  <div class="newsletter__form">

    {% form 'customer' %}

      {% render 'form-errors', form: form %}

      {% if form.posted_successfully? %}

        <span class="alert alert--success">{{ 'general.newsletter.confirmation' | t }}</span>

      {% else %}
        
        <div>
          <input type="hidden" name="contact[tags]" value="newsletter">
          <input type="email" class="newsletter__input" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter.email_label' | t }}" name="contact[email]" id="Email" aria-label="{{ 'general.newsletter.email_label' | t }}" autocorrect="off" autocapitalize="off">
          <button type="submit" class="newsletter__submit" id="Subscribe" aria-label="{{ 'general.newsletter.submit_label' | t }}">
            <span aria-hidden="true">{% render 'theme-symbols', icon: 'arrow-long' %}</span>
          </button>
        </div>

      {% endif %}

    {% endform %}

  </div>

  {% unless atb_text == blank %}
    <div class="newsletter__text rte">{{ atb_text }}</div>
  {% endunless %}

</div>

{% if atb_color_bg != 'rgba(0,0,0,0)' %}
  {% style %}
    #shopify-section-{{ section_id }} .newsletter {
      background: {{ atb_color_bg }};
      padding-top: 10vw;;
      padding-bottom: 10vw;;
    }
    @media all and (max-width: 1280px) {
      #shopify-section-{{ section_id }} .newsletter {
        padding-top: 100px;
        padding-bottom: 100px;
      }
    } 
    @media all and (max-width: 948px) {
      #shopify-section-{{ section_id }} .newsletter {
        padding-top: 70px;
        padding-bottom: 70px;
      }
    }
    @media all and (max-width: 480px) {
      #shopify-section-{{ section_id }} .newsletter {
        padding-top: 50px;
        padding-bottom: 50px;
      }
    }
    #shopify-section-{{ section_id }} {
      margin-top: 0;
    }
  {% endstyle %}
{% endif %}

{% if atb_color_text != 'rgba(0,0,0,0)' %}
  {% style %}
    #shopify-section-{{ section_id }} .newsletter,
    #shopify-section-{{ section_id }} .newsletter a {
      color: {{ atb_color_text }};
    }
    #shopify-section-{{ section_id }} .newsletter .svg path {
      fill: {{ atb_color_text }};
    }
    #shopify-section-{{ section_id }} .newsletter__input {
      color: {{ atb_color_text }};
      border-color: {{ atb_color_text }};
    }
    #shopify-section-{{ section_id }} .newsletter__input::placeholder { color: {{ atb_color_text }}; }
  {% endstyle %}
{% endif %}

</section>