{% if settings.show_breadcrumb and template != 'index' %}

	<nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">

		<span class="breadcrumb__link"><a href="{{ routes.root_url }}">{{ 'products.page.back_to_home_label' | t}}</a></span>

		{% if template contains 'search' %}

			<span class="breadcrumb__separator">/</span>
			<span class="breadcrumb__current">{{ 'search.page.results' | t: terms: terms }}</span>

		{% else %}
		
			{% unless template contains 'product' %}
				
				{% if template contains 'collections' %}
					{% comment %}<span class="breadcrumb__current">{{ 'collections.title' | t }}</span>{% endcomment %}
				{% elsif template contains 'services' %}
					<span class="breadcrumb__separator">/</span>
					<span class="breadcrumb__link"><a href="#">Services</a></span>
				{% elsif template contains 'history' %}
					<span class="breadcrumb__separator">/</span>
					<span class="breadcrumb__link"><a href="#">Aural History</a></span>
				{% elsif template contains 'about' %}
					<span class="breadcrumb__separator">/</span>
					<span class="breadcrumb__link"><a href="#">About</a></span>
				{% elsif template contains 'consign' %}
					<span class="breadcrumb__separator">/</span>
					<span class="breadcrumb__link"><a href="#">Sales & Consignment</a></span>
				{% elsif template contains 'contact' %}
					<span class="breadcrumb__separator">/</span>
					<span class="breadcrumb__link"><a href="#">Contact</a></span>
				{% elsif template contains 'faq' %}
					<span class="breadcrumb__separator">/</span>
					<span class="breadcrumb__link"><a href="#">Getting Started</a></span>
				{% else %}
					<span class="breadcrumb__separator">/</span>
					<span class="breadcrumb__link"><a href="{{ routes.all_products_collection_url }}">Shop</a></span>
				{% endif %}
			{% endunless %}

			{% if collection %}

				
				{% if template contains 'collection' %}
					{% comment %}<span class="breadcrumb__current">{{ collection.title | escape }}</span>{% endcomment %}
				{% else %}
					<span class="breadcrumb__separator">/</span>
					<span class="breadcrumb__link"><a href="{{ routes.all_products_collection_url }}">Shop</a></span>

					<span class="breadcrumb__separator">/</span>
					<span class="breadcrumb__link">
						{% if collection.handle %}
							{% capture url %}{{ routes.collections_url }}/{{ collection.handle }}{% endcapture %}
							{{ collection.title | link_to: url }}
						{% endif %}
					</span>
				{% endif %}
				
			{% elsif product %}

				<span class="breadcrumb__separator">/</span>
				<span class="breadcrumb__link"><a href="{{ routes.all_products_collection_url }}">Shop</a></span>

				<span class="breadcrumb__separator">/</span>
				<span class="breadcrumb__link">{{ product.vendor | link_to_vendor  }}</span>
				{% comment %}<span class="breadcrumb__separator">/</span>
				<span class="breadcrumb__link"><a href="{{ routes.collections_url }}">{{ 'collections.title' | t }}</a></span>{%endcomment%}

			{% endif %}

			{% if product %}
				{% comment %}<span class="breadcrumb__separator">/</span>
				<span class="breadcrumb__current">{{ product.title | escape }}</span>{% endcomment %}
			{% endif %}

		{% endif %}

	</nav>

{% endif %}