<a class="share-link" href="#share-popup" aria-hidden="true">
  <span aria-hidden="true">{% render 'theme-symbols', icon: 'share' %}</span>
  <span class="text">{{ 'products.page.share_link' | t }}</span>
</a>

{% capture share_link %}{{ shop.url }}{{ url }}{% endcapture %}
{% capture share_title %}{{ title | url_param_escape }}{% endcapture %}
{% if image %}
	{% capture share_image %}{{ image | img_url: '1024x' }}{% endcapture %}
{% else %}
	{% capture share_image %}{{ page_image | img_url : '1024x' }}{% endcapture %}
{% endif %}

<div id="share-popup" class="share-popup mfp-hide">
	<span class="h4">{{ 'general.share_on' | t }}</span>
	<a class="h2" target="_blank" href="//facebook.com/sharer.php?u={{ share_link }}">
		<span class="circle icon-social-facebook"></span></a>
	<a class="h2" target="_blank" href="//twitter.com/share?text={{ share_title }}&amp;url={{ share_link }}">
		<span class="circle icon-social-twitter"></span></a>
	<a class="h2" target="_blank" href="//pinterest.com/pin/create/button/?url={{ share_link }}&amp;media={{ share_image }}&amp;description={{ share_title }}">
		<span class="circle icon-social-pinterest"></span></a>
	<a class="h2" target="_blank" href="mailto:?body={{ share_link }}&amp;subject={{ share_title }}">
		<span class="circle icon-mail"></span></a>
</div>

