<div class="page-content myacct">

	<header class="page-title">
		<div>
			<h1 class="title h1">{{ 'customers.account_page.title' | t }}</h1>
	  		<h3 class="title h3">{{ 'customers.account_page.subtitle' | t }}</h3>
 		</div>
  	{% if shop.customer_accounts_enabled and customer %}
			<a class="minor button button--outline" href="{{ routes.account_logout_url }}">{{ 'customers.login_page.form_logout_button' | t }}</a>
		{% endif %}
	</header>

	{% paginate customer.orders by 20 %}

		{% if customer.orders.size != 0 %}

			<table class="order-table o-history">

				<tbody>
					{% for order in customer.orders %}
						<tr>
							<td>
								<span class="label">{{ 'customers.account_page.orders_table.order' | t | link_to: order.customer_url }}</span>
								{{ order.name | link_to: order.customer_url }}
							</td>
							<td>
								<span class="label">{{ 'customers.account_page.orders_table.date' | t }}</span>
								{{ order.created_at | date: "%b %d, %Y" }}
							</td>
							<td>
								<span class="label">{{ 'customers.account_page.orders_table.payment_status' | t }}</span>
								{{ order.financial_status }}
							</td>
							<td>
								<span class="label">{{ 'customers.account_page.orders_table.fulfillment_status' | t }}</span>
								{{ order.fulfillment_status }}
							</td>
							<td>
								<span class="label">{{ 'customers.account_page.orders_table.total' | t }}</span>
								{{ order.total_price | money }}
							</td>
						</tr>
					{% endfor %}
				</tbody>
				
			</table>

		{% else %}

			<p>{{ 'customers.account_page.no_orders_message' | t }}</p>

		{% endif %}		
	
		{% if paginate.pages > 1 %}
			{% render 'pagination', paginate: paginate %}
		{% endif %}

	{% endpaginate %}

	<header class="page-title">
		<div>
			
			<a href="/account/addresses" class="button button--solid">Manage {{ 'customers.addresses_page.subtitle' | t }}</a>
		</div>
		<div style="display:flex">
			
		</div>
	</header>

	{% paginate customer.addresses by 4 %}

		<div class="customer-addresses">

			{% for address in customer.addresses %}

				<div class="customer-address">

					<strong>
						{{ address.first_name | capitalize }} {{address.last_name | capitalize }}
						{% if address == customer.default_address %}<em>(default)</em>{% endif %}
					</strong>

					{{ address | format_address }}

				</div>

			{% endfor %}

		</div>
	
		{% if paginate.pages > 1 %}
			{% render 'pagination', paginate: paginate %}
		{% endif %}

	{% endpaginate %}


</div>

<script type="text/javascript">

	jQuery(function($) {

		$('.mfp-link').magnificPopup({
			type: 'inline',
			midClick: true
		});

		new Shopify.CountryProvinceSelector('address_country_new', 'address_province_new', {
			hideElement: 'address_province_container_new'
		});

		{% paginate customer.addresses by 5 %}
			{% for address in customer.addresses %}
				new Shopify.CountryProvinceSelector('address_country_{{address.id}}', 'address_province_{{address.id}}', {
					hideElement: 'address_province_container_{{address.id}}'}
				);
			{% endfor %}
		{% endpaginate %}

	});

</script>
