{% schema %}
  {
    "name": "AURAL // HOMEPAGE",
    "class": "homepage",
    "settings": [
    {
      "type": "header",
      "content": "Lifestyle Images"
    },
      {
        "type": "image_picker",
        "id": "lifestyle-a",
        "label": "First"
      },
      {
        "type": "text",
        "id": "alt-a",
        "label": "Alt Text"
      },
      {
        "type": "image_picker",
        "id": "lifestyle-b",
        "label": "Second"
      },
      {
        "type": "text",
        "id": "alt-b",
        "label": "Alt Text"
      },
    {
      "type": "header",
      "content": "Apparel"
    },
      {
        "type": "image_picker",
        "id": "img-apparel",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "h1-apparel",
        "label": "Hover Title"
      },
      {
        "type": "text",
        "id": "txt-apparel",
        "label": "Hover Subtitle"
      },
      {
        "type": "text",
        "id": "url-apparel",
        "label": "Threadless link"
      },
      {
        "type": "color",
        "id": "bg-apparel",
        "label": "Background"
      },
    {
      "type": "header",
      "content": "Buy With Confidence"
    },
      {
        "type": "text",
        "id": "bwc-hdr-a",
        "label": "Left Panel Header"
      },
      {
        "type": "richtext",
        "id": "bwc-copy-a",
        "label": "Content"
      },
      {
        "type": "text",
        "id": "bwc-icon-a",
        "label": "Left Panel Icon"
      },
      {
        "type": "color",
        "id": "bwc-bg-a",
        "label": "Background"
      },
      {
        "type": "header",
        "content": "Center Panel"
      },
      {
        "type": "text",
        "id": "bwc-hdr-b",
        "label": "Center Panel Header"
      },
      {
        "type": "richtext",
        "id": "bwc-copy-b",
        "label": "Content"
      },
      {
        "type": "text",
        "id": "bwc-icon-b",
        "label": "Center Panel Icon"
      },
      {
        "type": "color",
        "id": "bwc-bg-b",
        "label": "Background"
      },
      {
        "type": "header",
        "content": "Right Panel"
      },
      {
        "type": "text",
        "id": "bwc-hdr-c",
        "label": "Right Panel Header"
      },
      {
        "type": "richtext",
        "id": "bwc-copy-c",
        "label": "Content"
      },
      {
        "type": "text",
        "id": "bwc-icon-c",
        "label": "Right Panel Icon"
      },
      {
        "type": "color",
        "id": "bwc-bg-c",
        "label": "Background"
      },
    {
      "type": "header",
      "content": "Ethos"
    },
      {
        "type": "text",
        "id": "h1-ethos",
        "label": "Heading"
      },
      {
        "type": "html",
        "id": "body-ethos",
        "label": "Body"
      },      
      {
        "type": "image_picker",
        "id": "img-ethos",
        "label": "Image"
      },
      {
        "type": "color",
        "id": "bg-ethos",
        "label": "Background"
      },
      {
        "type": "text",
        "id": "opa-ethos",
        "label": "Bg opacity"
      },
      {
        "type": "color",
        "id": "fg-ethos",
        "label": "Text Color"
      }
    ],
    "blocks": [
      {
        "type": "prod",
        "name": "Products",
        "limit": 6,
        "settings": [
          {
            "type":      "product",
            "id":        "prod",
            "label":    "Product"
          }
        ]
      },
      {
        "type": "coll",
        "name": "Collections",
        "limit": 3,
        "settings": [
          {
            "type":      "collection",
            "id":        "coll",
            "label":    "Collection"
          }
        ]
      }
    ]
  }
{% endschema %}

{%- comment -%} {%- endif -%} {%- endcomment -%}
{%- for block in section.blocks -%}
  {%- if block.type == "prod" -%}
    {%- if all_products[block.settings.prod].available -%}
      {%- if arrProd != "" -%}
        {%- assign arrProd = arrProd | append: ',' -%}
      {%- endif -%}
      {%- assign arrProd = arrProd | append: block.settings.prod -%}
    {%- endif -%}
  {%- elsif block.type == "coll" -%}
    {%- if arrColl != "" -%}
      {%- assign arrColl = arrColl | append: ',' -%}
    {%- endif -%}
    {%- assign arrColl = arrColl | append: block.settings.coll -%}
  {%- endif -%}
{% endfor %}
{%- assign arrProd = arrProd | split: ',' -%}
{%- assign arrColl = arrColl | split: ',' -%}
{%- assign collA = collections[ arrColl[1] ]-%}
{%- assign collB = collections[ arrColl[2] ]-%}
{%- assign collC = collections[ arrColl[3] ]-%}


<style>
  .home .newsletter__input {
    color: {{ section.settings.fg-news }};
    border-bottom: 2px solid;
  }
  .home .newsletter__input::placeholder {
      color: {{ section.settings.fg-news }};
  }
  .grid__item.ethos .grid__subgrid::before {
      background: {% render 'color_to_rgba', color: section.settings.bg-ethos, alpha: section.settings.opa-ethos %}!important;
  }
</style>

<div id="page-content" class="home">
 
  <div class="grid_aural">

    <div class="grid__item lifestyle">
      <div class="grid__subgrid sflex">
        <div class="grid__subgrid-el lifestyle-eames" style="background-color:{{section.settings.bg-lifestyle}};background-image:url({{ section.settings.lifestyle-a | img_url: '840x' }});">
          <!-- <div class="img"></div> -->
        </div>
      </div>
    </div>
    
    <div class="grid__item product">
      <div class="grid__subgrid">
        <div class="grid__subgrid-el collection--overlay">
          {% render 'product-item', product: all_products[arrProd[1]] %}
        </div>
      </div>
    </div>
    
    <div class="grid__item product">
      <div class="grid__subgrid">
        <div class="grid__subgrid-el collection--overlay">
          {% render 'product-item', product: all_products[arrProd[2]] %}
        </div>
      </div>
    </div>
    
    <div class="grid__item collection apparel" data-target="{{ section.settings.url-apparel }}">
      <div class="grid__subgrid sflex" >
        <div class="grid__subgrid-el" style="background-image:url({{ section.settings.img-apparel | img_url: '840x' }});">
          <div class="overlay" >
            <div class="detail">
              <h2>
                <a href="#">{{section.settings.h1-apparel}}</a>
              </h2>
              <p class="qty">{{ section.settings.txt-apparel }}</p> 
              <a href="#" class="btn cta">EXPLORE</a>
            </div>
          </div>
        </div>
      </div>
    </div>  
    
    <div class="grid__item collection" data-target="{{ collA.url }}">
      <div class="grid__subgrid sflex">
        <div class="grid__subgrid-el" style="background-image:url({{ collA.image | img_url: '840x' }});">
          <div class="overlay" >
            <div class="detail">
              <h2>
                <a href="{{ collA.url }}">{{collA.title}}</a>
              </h2>
              <p class="qty">( {{ collA.products_count }} Items)</p> 
              <a href="{{ collA.url }}" class="btn cta">EXPLORE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="grid__item product">
      <div class="grid__subgrid">
        <div class="grid__subgrid-el collection--overlay">
          {% render 'product-item', product: all_products[arrProd[3]] %}
        </div>
      </div>
    </div>
    
    <div class="grid__item product">
      <div class="grid__subgrid">
        <div class="grid__subgrid-el collection--overlay">
          {% render 'product-item', product: all_products[arrProd[4]] %}
        </div>
      </div>
    </div>

    <div class="grid__item collection" data-target="{{ collC.url }}">
      <div class="grid__subgrid sflex" >
        <div class="grid__subgrid-el" style="background-image:url({{ collC.image | img_url: '840x' }});">
          <div class="overlay" >
            <div class="detail">
              <h2>
                <a href="{{ collC.url }}">{{collC.title}}</a>
              </h2>
              <p class="qty">({{ collC.products_count }} Items)</p> 
              <a href="{{ collC.url }}" class="btn cta">EXPLORE</a>
            </div>
          </div>
        </div>
      </div>
    </div> 

    <div class="grid__item collection" data-target="{{ collB.url }}">
      <div class="grid__subgrid sflex" >
        <div class="grid__subgrid-el" style="background-image:url({{ collB.image | img_url: '840x' }});">
          <div class="overlay" >
            <div class="detail">
              <h2>
                <a href="{{ collB.url }}">{{collB.title}}</a>
              </h2>
              <p class="qty">({{ collB.products_count }} Items)</p> 
              <a href="{{ collB.url }}" class="btn cta">EXPLORE</a>
            </div>
          </div>
        </div>
      </div>
    </div>  

    <div class="grid__item lifestyle ethos">
      <div class="grid__subgrid sflex"  style="background-image:url({{ section.settings.img-ethos | img_url: '840x' }});">
        <div class="grid__subgrid-el content" style="">
          <h3 style="text-align: left;">{{ section.settings.h1-ethos }}</h3>
          {{ section.settings.body-ethos }}
        </div>
      </div>
    </div> 

    <div class="grid__item triple bwcrow">
      <div class="grid__subgrid">
        <div class="grid__subgrid-el bwc">
          <span class="tagline">{% render 'brandlib', brandlib: section.settings.bwc-hdr-a %}</span>
          <span class="copy">{{ section.settings.bwc-copy-a }}</span>
          <span class="icon">{% render 'brandlib', brandlib: section.settings.bwc-icon-a %}</span>
        </div>

        <div class="grid__subgrid-el bwc">
          <span class="tagline">{% render 'brandlib', brandlib: section.settings.bwc-hdr-b %}</span>
          <span class="copy">{{ section.settings.bwc-copy-b }}</span>
          <span class="icon">{% render 'brandlib', brandlib: section.settings.bwc-icon-b %}</span>
        </div>

        <div class="grid__subgrid-el bwc">
          <span class="tagline">{% render 'brandlib', brandlib: section.settings.bwc-hdr-c %}</span>
          <span class="copy">{{ section.settings.bwc-copy-c }}</span>
          <span class="icon">{% render 'brandlib', brandlib: section.settings.bwc-icon-c %}</span>
        </div>

      </div>
    </div>

  </div>
</div>


