<div class="footer"> 

  {% for block in section.blocks %}

    {% case block.type %}

      {% when 'text' %}

        <div class="footer-item footer-text {{ block.settings.size }}">
        
          {% if block.settings.title contains 720 %}
             <h4>CALL US // <a href="tel:+17204320373">(720) 432-0373</a></h4>
          {% elsif block.settings.title != blank %}
            <h4>{{ block.settings.title | escape }}</h4>
          {% endif %}

          <div class="rte">
            {{ block.settings.content }}
          </div>    

        </div>

      {% when 'menus' %}

        <div class="footer-item footer-menus">

          {% unless block.settings.menu_1 == blank %}

            <div>

              {% unless block.settings.title_1 == blank %}
                <h4>{{ block.settings.title_1 | escape }}</h4>
              {% endunless %}
              
              <div class="footer-links body-size-lesser-than-normal">
                {% for link in linklists[block.settings.menu_1].links %}
                  <span>
                    <a href="{{ link.url | escape }}"><span class="underline-animation">{{ link.title | escape }}</span></a>
                  </span>
                {% endfor %}
                {% if shop.customer_accounts_enabled %}
                  <span>
                    {% if customer %}
                      <a href="{{ routes.account_url }}"><span class="underline-animation">{{ 'general.account_link.logged_in' | t }}</span></a>
                    {% else %}
                      <a href="{{ routes.account_login_url }}"><span class="underline-animation">{{ 'general.account_link.logged_out' | t }}</span></a>
                    {% endif %}
                  </span>
                {% endif %}
              </div>

            </div>

          {% endunless %}

          {% unless block.settings.menu_2 == blank %}

            <div>

              {% unless block.settings.title_2 == blank %}
                <h4>{{ block.settings.title_2 | escape }}</h4>
              {% endunless %}
              
              <div class="footer-links body-size-lesser-than-normal">
                {% for link in linklists[block.settings.menu_2].links %}
                  <span>
                    <a href="{{ link.url | escape }}">{{ link.title | escape }}</a>
                  </span>
                {% endfor %}
              </div>

            </div>

          {% endunless %}

        </div>

      {% when 'newsletter' %}

        <div class="footer-item footer-newsletter">

          {% unless block.settings.title == blank %}
            <h4>{{ block.settings.title | escape }}</h4>
          {% endunless %}

          <div class="newsletter__form body-size-lesser-than-normal">

            {% form 'customer' %}

              {% render 'form-errors', form: form %}

              {% if form.posted_successfully? %}

                <span class="alert alert--success">{{ 'general.newsletter.confirmation' | t }}</span>

              {% else %}
                
                <div>
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <input type="email" class="newsletter__input" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter.email_label' | t }}" name="contact[email]" id="Email" aria-label="{{ 'general.newsletter.email_label' | t }}" autocorrect="off" autocapitalize="off">
                  <button type="submit" class="newsletter__submit" id="Subscribe" aria-label="{{ 'general.newsletter.submit_label' | t }}">
                    <span aria-hidden="true">{% render 'theme-symbols', icon: 'arrow-long' %}</span>
                  </button>
                </div>

              {% endif %}

            {% endform %}

          </div>

        </div>

      {% when 'social' %}

        <div class="footer-item footer-social">
          
          {% unless block.settings.title == blank %}
            <h4>{{ block.settings.title | escape }}</h4>
          {% endunless %}

          <div class="social-icons">

            {% if settings.social_facebook != '' %}
              <a href="{{ settings.social_facebook | escape }}" target="_blank" aria-label="Facebook"><span class="icon" aria-hidden="true">{% render 'theme-symbols', icon: 'social_facebook' %}</span></a>
            {% endif %}

            {% if settings.social_instagram != '' %}
              <a href="{{ settings.social_instagram | escape }}" target="_blank" aria-label="Instagram"><span class="icon" aria-hidden="true">{% render 'theme-symbols', icon: 'social_instagram' %}</span></a>
            {% endif %}

            {% if settings.social_twitter != '' %}
              <a href="{{ settings.social_twitter | escape }}" target="_blank" aria-label="Twitter"><span class="icon" aria-hidden="true">{% render 'theme-symbols', icon: 'social_twitter' %}</span></a>
            {% endif %}

            {% if settings.social_youtube != '' %}
              <a href="{{ settings.social_youtube | escape }}" target="_blank" aria-label="YouTube"><span class="icon" aria-hidden="true">{% render 'theme-symbols', icon: 'social_youtube' %}</span></a>
            {% endif %}

            {% if settings.social_vimeo != '' %}
              <a href="{{ settings.social_vimeo | escape }}" target="_blank" aria-label="Vimeo"><span class="icon" aria-hidden="true">{% render 'theme-symbols', icon: 'social_vimeo' %}</span></a>
            {% endif %}

            {% if settings.social_pinterest != '' %}
              <a href="{{ settings.social_pinterest | escape }}" target="_blank" aria-label="Pinterest"><span class="icon" aria-hidden="true">{% render 'theme-symbols', icon: 'social_pinterest' %}</span></a>
            {% endif %}

            {% if settings.social_tumblr != '' %}
              <a href="{{ settings.social_tumblr | escape }}" target="_blank" aria-label="Tumblr"><span class="icon" aria-hidden="true">{% render 'theme-symbols', icon: 'social_tumblr' %}</span></a>
            {% endif %}

            {% if settings.social_linkedin != '' %}
              <a href="{{ settings.social_linkedin | escape }}" target="_blank" aria-label="LinkedIn"><span class="icon" aria-hidden="true">{% render 'theme-symbols', icon: 'social_linkedin' %}</span></a>
            {% endif %}

            {% if settings.social_flickr != '' %}
              <a href="{{ settings.social_flickr | escape }}" target="_blank" aria-label="Flickr"><span class="icon" aria-hidden="true">{% render 'theme-symbols', icon: 'social_flickr' %}</span></a>
            {% endif %}

            {% if settings.social_reddit != '' %}
              <a href="{{ settings.social_reddit | escape }}" target="_blank" aria-label="Reddit"><span class="icon" aria-hidden="true">{% render 'theme-symbols', icon: 'social_reddit' %}</span></a>
            {% endif %}

            {% if settings.social_email != '' %}
              <a href="mailto:{{ settings.social_email | escape }}" target="_blank" aria-label="Email"><span class="icon" aria-hidden="true">{% render 'theme-symbols', icon: 'social_email' %}</span></a>
            {% endif %}

          </div>

        </div>
  
    {% endcase %}

  {% endfor %}

    <div class="footer-item footer-info localization-form-holder">

      {% render 'localization-form', location: 'footer', show_currency_selector: section.settings.show_currency_selector, show_locale_selector: section.settings.show_locale_selector %}
  
      {% if section.settings.show_payment_icons and shop.enabled_payment_types != empty %}
        <div class="footer-icons">
          {%comment%}{ % for type in shop.enabled_payment_types % }
            {  type | payment_type_svg_tag } }
          { % endfor % }
          {%endcomment%}
          <span class="carded icon-applepay "></span>
          <span class="wrapped icon-mastercard"></span>
          <span class="wrapped icon-visa"></span>
          <span class="wrapped icon-discover"></span>
          <span class="wrapped icon-diners"></span>
          <span class="wrapped icon-jcb "></span>
          <span class="wrapped icon-paypal"></span>
          <span class="carded icon-venmo "></span>
          <span class="carded icon-shopify"></span>
          <span class="carded icon-googlepay "></span>

        </div>
      {% endif %}
      
      <div class="footer-copyright body-size-lesser-than-normal">
        <span>{{ 'general.copyright' | t }} &copy; {{ 'now' | date: "%Y" }} <a href="{{ routes.root_url }}">{{ shop.name | escape }}</a><span class="powered-by-shopify">. {{ powered_by_link }}</span></span>
      </div>

    </div>

</div>

{% schema %}
  {
    "name": "Footer",
    "class": "mount-footer",
    "max_blocks": 4,
    "settings": [
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": true
      },
      {
        "type": "header",
        "content": "Language Selector",
        "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
      },
      {
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": "Show language selector",
        "default": true
      },
      {
        "type": "header",
        "content": "Currency Selector",
        "info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
      },
      {
        "type": "checkbox",
        "id": "show_currency_selector",
        "label": "Show currency selector",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Contact information"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>Write a short statement about your brand.</p>"
          },
          {
            "type": "select",
            "id": "size",
            "label": "Text size",
            "options": [
              {
                "value": "",
                "label": "Regular"
              },
              {
                "value": "footer-text--large",
                "label": "Large"
              }
            ],
            "default": "footer-text--large"
          }
        ]
      },
      {
        "type": "menus",
        "name": "Menus",
        "settings": [
          {
            "type": "text",
            "id": "title_1",
            "label": "First menu heading",
            "default": "Menu"
          },
          {
            "type": "link_list",
            "id": "menu_1",
            "label": "First menu",
            "default": "footer",
            "info": "This menu won't show dropdown items"
          },
          {
            "type": "text",
            "id": "title_2",
            "label": "Second menu heading",
            "default": "Menu"
          },
          {
            "type": "link_list",
            "id": "menu_2",
            "label": "Second menu",
            "info": "This menu won't show dropdown items"
          }
        ]
      },
      {
        "type": "newsletter",
        "name": "Newsletter",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Newsletter"
          }
        ]
      },
      {
        "type": "social",
        "name": "Social",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Follow us"
          }
        ]
      }
    ]
  }
{% endschema %}