<div class="sidebar">

	<div class="sidebar__container sidebar__responsive-container">

		<div class="sidebar__container-holder" style="flex: 1 0 auto;">

	    <header class="logo">

				{% if template == 'index' %}
					<h1>
				{% else %}
					<div>
				{% endif %}

					{% if section.settings.logo_src  %}

						<a class="logo__image" href="{{ routes.root_url }}">
							<img src="{{ section.settings.logo_src | img_url: 'master' }}" alt="{{ shop.name | escape }}" style="max-width: {{ section.settings.logo_width | escape }}px;" />
						</a>

					{% else %}

						<a class="logo__text" href="{{ routes.root_url }}">{{ shop.name | escape }}</a>

					{% endif %}

				{% if template == 'index' %}
					</h1>
				{% else %}
					</div>
				{% endif %}

	    </header>

	    <div class="sidebar__menus {% if section.settings.show_search %} search-bottom-padding {% endif %}">

		    <nav class="primary-menu">
					{% render 'sidebar-navigation', menu: menus[section.settings.menu_primary] %}
	    	</nav>

	    	<nav class="secondary-menu">

					{% render 'sidebar-navigation', menu: menus[section.settings.menu_secondary] %}

					<div class="localization-form-holder">
			      {% render 'localization-form', location: 'sidebar', show_currency_selector: section.settings.show_currency_selector, show_locale_selector: section.settings.show_locale_selector %}
			    </div>

	    	</nav>

				<span class="sidebar__menus-close hidden" aria-label="{{ 'general.close' | t }}">
					{% render 'theme-symbols', icon: 'close' %}
				</span>

				<span class="sidebar__menus-back hidden" aria-label="{{ 'general.back' | t }}">
					{% render 'theme-symbols', icon: 'arrow-left' %}
				</span>

	    </div>

	    <div class="sidebar__responsive-handles">
				
				{% if section.settings.show_search %}
					<span class="sidebar__search-handle">
						<span class="icon icon-search" aria-hidden="true">{% render 'theme-symbols', icon: 'search' %}</span>
					</span>
				{% endif %}

				<a href="{{ routes.cart_url }}" class="sidebar__cart-handle" aria-label="{{ 'cart.title' | t }}" title="{{ 'cart.title' | t }}">
					<span class="icon icon-cart" aria-hidden="true" style="height: 28px;">{% render 'theme-symbols', icon: 'cart' %}</span>
					<span class="count" aria-hidden="true">{{ cart.item_count }}</span>
				</a>

				<span class="sidebar__menu-handle">
					<span class="icon icon-menu" aria-hidden="true">{% render 'theme-symbols', icon: 'burger' %}</span>
				</span>

			</div>
			
			{% unless template contains 'cart' %}
				<div class="sidebar__cart">
					<div>
						{% render 'cart-form', location: 'sidebar' %}
						<span class="sidebar__cart-close" aria-label="{{ 'general.close' | t }}">
							{% render 'theme-symbols', icon: 'close' %}
						</span>
					</div>
				</div>
			{% endunless %}

			{% if customer %}
				{% if customer.email contains "agencyzero.com" or customer.email contains "auralfetish.com" or customer.email contains "tonyfelice.net"%}
					<a href="https://aural-audio-limited.myshopify.com/admin/themes/111486795944/editor#{{request.path}}" target="_blank" class="kissme">
					  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" style="enable-background:new 0 0 100 100;" xml:space="preserve"><g><path d="M50.7,15.9c-13.7,2-17.2-2.4-17.2-2.4C8.7,23.5,7.9,57.9,7.9,57.9c-2.9,2-2,6.6-2,6.6c5.8-6.7,10.3-3.2,10.8-2.9   c-0.3-0.3-3.2-2.2-8.4,5.3c-5.6,7.9,10.6,14.8,10.6,14.8c-8.1-2-13.7-8.1-13.7-8.1c8.8,14.3,39.1,15,39.1,15   c35.2,3.9,48.9-14.3,48.9-14.3C84.9,35.5,50.7,15.9,50.7,15.9z M14.8,57.4c0,0-4.2-4.2-4.6-6.1c0,0,3.7,4.6,5.4,4.6   C15.6,55.9,16,57.7,14.8,57.4z M47.5,62.6c0,0-0.8,0-6.2,0s-8.4-2.4-8.4-2.4C35.2,61.1,47.5,62.6,47.5,62.6z M70,63.9   c-0.1-0.1-0.1-0.1-0.1-0.1S66.7,63.1,66,63c-0.7-0.2,0.2-3.2,0.2-3.2l-0.8-0.2c-0.7,1.7-2.7,3-2.7,3c-1.9,0.3-14.3-2.4-14.3-2.4   l-0.7-1.7l-1,1.3c0,0-9.9-1.7-12-1.9c-2-0.2-2-1.9-2-1.9c-1.1,0-1.9,0-2.6-0.1c-2.7-0.4-2.3-1.7-2.3-1.7c0,0,0,0,0,0   c1.8-2.6,5.1-6.9,7.5-6.9l0.2,1c0,0,1.9-3,2.9-3.5c0,0,2.8-1.7,8.7,0.5c4.2,1.5,9.8,4.9,17.1,12.2C64,57.6,69.2,61.1,70,63.9z    M51.5,29.6c-0.2,3.5,2.9,5.4,2.9,5.4s-3-1-4.2-1.9C49,32.3,51.5,29.6,51.5,29.6z M46.3,22.2l2,1.2l-1.7,4   C45.1,26.2,46.3,22.2,46.3,22.2z M38.9,22.3c-0.3,2.2,2.5,0.3,2.5,0.3c-5.2,5.4,1,9.4,1,9.4C34.7,29.1,38.9,22.3,38.9,22.3z    M23.4,78.5l-3.9-1.7c0,0-2-4.4,7.2-3.2L23.4,78.5z M32.1,79.6C29.3,72,35,67.7,35,67.7l3.8-0.5C30.2,70.1,32.1,79.6,32.1,79.6z    M44.8,79.2c-2,1.2-2.2,3.2-2.2,3.2s-0.2,1-2.9-0.8c-2.7-1.9,2.5-4.7,4-4c1.5,0.7,5.1-0.7,5.1-0.7C48.7,77.3,46.8,78,44.8,79.2z    M76.1,68.9l2.4,1.2C78.5,70,77,70.9,76.1,68.9z M76.8,67.7c1.2-0.7,2.9,1.5,2.9,1.5L76.8,67.7z"/></g></svg>
					</a>
				{% endif %}
			{% endif %}

			{% if section.settings.show_search %}
				<div class="sidebar__search {% if settings.predictive_search_enabled %} predictive-search {% endif %}">
					<div>
						{% render 'search-form' %}
						<div class="sidebar__search-container">
							<div class="sidebar__search-link"></div>
							<div class="sidebar__search-results"></div>
						</div>
						<span class="sidebar__search-close" aria-label="{{ 'general.close' | t }}">
							{% render 'theme-symbols', icon: 'close' %}
						</span>
					</div>
				</div>
			{% endif %}

		</div>
	</div>

</div>

{% schema %}
  {
    "name": "Sidebar",
    "class": "mount-sidebar mount-overlay",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo_src",
        "label": "Image"
      },
      {
        "type": "range",
        "id": "logo_width",
        "label": "Custom logo width (in pixels)",
        "min": 50,
        "max": 250,
        "step": 2,
        "default": 100
      },
      {
        "type": "link_list",
        "id": "menu_primary",
        "label": "Primary navigation",
        "default": "main-menu"
      },
      {
        "type": "link_list",
        "id": "menu_secondary",
        "label": "Secondary navigation",
	      "info": "This menu won't show dropdown items"
      },
      {
        "type": "header",
        "content": "Language Selector",
        "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
      },
      {
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": "Show language selector",
        "default": false
      },
      {
        "type": "header",
        "content": "Currency Selector",
        "info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
      },
      {
        "type": "checkbox",
        "id": "show_currency_selector",
        "label": "Show currency selector",
        "default": false
      },
      {
        "type": "header",
        "content": "Search"
      },
      {
        "type": "checkbox",
        "id": "show_search",
        "label": "Show search",
        "default": true
      }
    ]
  }
{% endschema %}