{% assign prodA = all_products.mcintosh-mac1700-stereo-receiver %}
{% assign prodB = all_products.thorens-td-206-turntable-ortofon-blue %}
{% assign prodC = all_products.marantz-model-twenty-eight-28-garrard-turntable-receiver-combo %}
{% assign prodD = all_products.harman-kardon-five-thirty-receiver %}
{% assign collA = collections['tube-amps']%}
{% assign collB = collections['mcintosh']%}




<div id="page-content" class="home">
	
	<div class="grid_aural">

	  <div class="grid__item lifestyle">
	    <div class="grid__subgrid">
	      <div class="grid__subgrid-el lifestyle-eames">
	        <div class="img"></div>
	      </div>
	    </div>
	  </div>
	  
	  <div class="grid__item product">
	    <div class="grid__subgrid">
	      <div class="grid__subgrid-el" style="background-image:url({{ prodA.featured_image | img_url: '420x' }});">
	        <div class="overlay">
						<div class="detail">
							<h2 class="">
								<a href="{{ prodA.url }}">{{ prodA.title }}</a>
							</h2>
							<p class="val">{{ prodA.price | money }}</p>
							<a href="{{ prodA.url }}" class="btn cta">DETAILS</a>
						</div>
					</div>
	      </div>
	    </div>
	  </div>
	  
	  <div class="grid__item product">
	    <div class="grid__subgrid">
	      <div class="grid__subgrid-el" style="background-image:url({{ prodB.featured_image | img_url: '420x' }});">
	        <div class="overlay">
						<div class="detail">
							<h2 class="">
								<a href="{{ prodB.url }}">{{ prodB.title }}</a>
							</h2>
							<p class="val">{{ prodB.price | money }}</p>
							<a href="{{ prodB.url }}" class="btn cta">DETAILS</a>
						</div>
					</div>
	      </div>
	    </div>
	  </div>
	  
	  <div class="grid__item lifestyle">
	    <div class="grid__subgrid">
	      <div class="grid__subgrid-el  lifestyle-records">
	        <div class="img"></div>
	      </div>
	    </div>
	  </div>
	  
	  <div class="grid__item collection">
	    <div class="grid__subgrid">
	      <div class="grid__subgrid-el" style="background-image:url({{ collA.image | img_url: '840x' }});">
	        <div class="overlay">
				<div class="detail">
					<h2>
						<a href="{{ collA.url }}">{{collA.title}}</a>
					</h2>
					<p class="qty">( {{ collA.products_count }} Items)</p> 
					<a href="{{ collA.url }}" class="btn cta">EXPLORE</a>
				</div>
			</div>
	      </div>
	    </div>
	  </div>
	  
	  <div class="grid__item product">
	    <div class="grid__subgrid">
	      <div class="grid__subgrid-el" style="background-image:url({{ prodC.featured_image | img_url: '420x' }});">
	        <div class="overlay">
						<div class="detail">
							<h2 class="">
								<a href="{{ prodC.url }}">{{ prodC.title }}</a>
							</h2>
							<p class="val">{{ prodC.price | money }}</p>
							<a href="{{ prodC.url }}" class="btn cta">DETAILS</a>
						</div>
					</div>
	      </div>
	    </div>
	  </div>
	  
	  <div class="grid__item product">
	    <div class="grid__subgrid">
	      <div class="grid__subgrid-el" style="background-image:url({{ prodD.featured_image | img_url: '420x' }});">
				<div class="overlay">
	        		<div class="detail">
						<h2 class="">
							<a href="{{ prodD.url }}">{{ prodD.title }}</a>
						</h2>
						<p class="val">{{ prodD.price | money }}</p>
						<a href="{{ prodD.url }}" class="btn cta">DETAILS</a>
						<!-- <div class="quick-view-button">
							<a class="quick-view btn cta" data-handle="{ { prodD.handle } }" href="javascript:void(0);">Quick View</a>
						</div> -->
					</div>
				</div>
	      </div>
	    </div>
	  </div>

	  <div class="grid__item collection">
	    <div class="grid__subgrid" >
	      <div class="grid__subgrid-el" style="background-image:url({{ collB.image | img_url: '840x' }});">
	        <div class="overlay">
				<div class="detail">
					<h2>
						<a href="{{ collB.url }}">{{collB.title}}</a>
					</h2>
					<p class="qty">({{ collB.products_count }} Items)</p> 
					<a href="{{ collB.url }}" class="btn cta">EXPLORE</a>
				</div>
			</div>
	      </div>
	    </div>
	  </div>  

	  <div class="grid__item">
	    <div class="grid__subgrid">
	      <div class="grid__subgrid-el content">
	      	<h3 style="text-align: left;">
				OUR ETHOS
			</h3>
			<p>
				We love art. We love music. We love design. These are the things that make our world memorable, inspiring, and worth living in.
			</p>
			<p>
				We’re on a mission to rescue, restore, and sometimes add our own design touches to, mid century audio gear. Gear that was made in a time when quality of sound, materials, and design were all equally important. A time when things were made to last a lifetime, or two, or three. A time when things were built to be maintained and repaired, not thrown away. A time when your stereo was an experience – designed as functional art to be displayed proudly, not hidden away in a cabinet.
			</p>
			<p>
				We want to make sure that the equipment you buy is performing at it’s best possible level. So, e
				very piece we sell has been fully serviced by a professional tech and brought up to factory specs and all lamps are replaced with LED whenever possible.
			</p>
	      </div>
	    </div>
	  </div>  

	  <div class="grid__item">
	    <div class="grid__subgrid">
	      <div class="grid__subgrid-el lifestyle-power">
	        <div class="img"></div>
	      </div>
	    </div>
	  </div>

	</div>
	{{ content_for_index }}
</div>